<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.rjkdbConnectionString"
            connectionString="server=localhost;User Id=root;password=amemggjm;Persist Security Info=True;database=rjkdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>