<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqTest1.Properties.Settings.EzWebConnectionString"
            connectionString="Data Source=79-RKING2\RKING;Initial Catalog=EzWeb;User ID=rking;Password=rking5GGH@"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>