<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADOTest.Properties.Settings.rjktestConnectionString"
            connectionString="Data Source=rking-8100\sqlexpress;Initial Catalog=rjktest;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>