/****************************************************************************


CLICK.RC

produced by Borland Resource Workshop


*****************************************************************************/

#include "click.rh"
CLICK_MENU MENU 
{
 POPUP "&Options"
 {
  MENUITEM "&User", CM_USER
 }

 POPUP "&Help"
 {
  MENUITEM "&Help Contents", CM_HELPCONTENTS
  MENUITEM SEPARATOR
  MENUITEM "&About", CM_ABOUT
 }

}

CLICK_MENU ACCELERATORS 
{
 "^U", CM_USER, ASCII, NOINVERT
 "^H", CM_HELPCONTENTS, ASCII, NOINVERT
 "^A", CM_ABOUT, ASCII, NOINVERT
}


IDD_USER DIALOG 31, 51, 207, 70
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "User Details"
FONT 8, "MS Sans Serif"
{
 LTEXT "&Name", -1, 4, 27, 25, 8
 EDITTEXT IDC_NAMETEXT, 34, 27, 98, 9
 LTEXT "&Phone #", -1, 4, 46, 28, 8
 EDITTEXT IDC_PHONENUMBER, 34, 45, 98, 9
 DEFPUSHBUTTON "OK", IDOK, 148, 6, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 148, 24, 50, 14
 PUSHBUTTON "Help", IDHELP, 148, 43, 50, 14
}

