<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ADOChapter3ConnectionBuilders.Properties.Settings.RJK_DB1ConnectionString"
            connectionString="Data Source=DEVELOPMENT\SQLEXPRESS;Initial Catalog=RJK_DB1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>