/****************************************************************************


SYSMETS2.RC

produced by Borland Resource Workshop


*****************************************************************************/

