/****************************************************************************


lstbox.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define DIALOG_1	1
#define IDC_LISTBOX1	101
