<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="WCFEvalExample.Service1Behavior"
        name="WCFEvalExample.EvalService">
        <clear />
        <endpoint address="ws" binding="wsHttpBinding" contract="WCFEvalExample.IEvalService"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"
          listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.tcp://localhost:8888/evalservice" binding="netTcpBinding"
          contract="WCFEvalExample.IEvalService" listenUriMode="Explicit">
        </endpoint>
        <endpoint address="net.pipe://evalservice" binding="netNamedPipeBinding"
          bindingConfiguration="" contract="WCFEvalExample.IEvalService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8180/evalservice/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WCFEvalExample.Service1Behavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
